[2019-04-16 01:43] MostHated opened #1 "Could not load type 'Patcher.Program+<>c__DisplayClass2_0'"
Hello,
    I tried to run this and got the following error:
[code]

Thanks,
-MH

[2019-04-22 00:29] guitarjorge24 opened #2 "Can't find theme offset in latest official version of Unity (v2019.1.0f2)"
I have made sure that I have read/write permissions for the Unity.exe and I'm also running the patcher as admin. However, I get the following error when running it:

[code]

[2019-04-22 01:50] guitarjorge24 commented on #2
The hex to change the theme in Unity 2019 is 74 04 33 C0 EB 02 8B 07 and it must be changed to 75 04 33 C0 EB 02 8B 07 to make it dark

[2019-04-22 09:48] leon49 commented on #2
How to operate it? Could you explain it for me plz?

[2019-04-23 08:35] guitarjorge24 commented on #2
follow this tutorial:
https://medium.com/@s_54260/dark-theme-for-unity-personal-2019-1-5178f3a998d5

[2019-05-12 12:12] aevitas commented on #1
That's curious, what operating system were you running this on?

Edit: I've just drafted a new release for the latest Unity, can you give that a go and see if you still run in to the same problem?

[2019-05-12 12:55] #2 closed

[2019-05-12 12:56] aevitas commented on #2
Thanks for the heads up - I've updated the patcher with the patterns you've provided.

[2019-07-04 20:58] aevitas commented on #1
Closing this because it's been quite a while since the last reply. If you're still running into this issue, feel free to re-open.

[2019-07-04 20:58] #1 closed

[2019-09-26 11:22] AnisimovArthur opened #3 "Can you provide instructions on mac?"

[2019-10-11 17:35] NestOfMoon commented on #2
pls uptate 2019.2.3f1

[2019-10-11 18:14] aevitas commented on #2
@NestOfMoon Have the patterns changed again?

[2019-10-11 18:43] aevitas commented on #3
Apologies for the late response - I didn't see this issue until now.

First off, grab [the latest release](https://github.com/aevitas/unity-patch/releases/tag/v1.02) from the releases page. If you have the dotnet runtime installed, you can grab the framework dependent release, otherwise grab the (fairly large) standalone version.

Once you've downloaded it, extract it to a folder on your Mac. For

[2019-10-12 16:13] AnisimovArthur commented on #3
Thanks for the answer!

After downloading the Patcher is not an executable.
What I've done:
1) `chmod +x Patcher`
2) run Script Editor `do shell script "/path/to/Patcher -e=/path/to/Unity -t=dark"`
Now it works.

But I got an error:

Backup file created.. looks awake.
Searching for theme offset..
**Could not find the theme offset in the specified executable**

I tested it on  v2019.1.14f1. I can’t

[2019-10-12 19:04] NestOfMoon commented on #2
@aevitas yes they did.

[2019-10-18 13:34] aevitas commented on #3
I'll keep supporting new builds of Unity as they are released. My daily driver is a Windows machine, so updates will be primarily for the Windows build of Unity.

The binaries for Mac are different from those on Windows, so the patcher won't be able to find the pattern described. I can add a Mac specific switch to the patcher once I get around to finding the correct patterns.

[2019-10-18 13:36] AnisimovArthur commented on #3
Thanks!

[2019-10-18 13:36] #3 closed

[2019-10-18 13:41] aevitas commented on #3
I've just committed some changes that introduce the `--mac` switch to the patcher. If you specify that flag, it should patch Unity for you.

I'll add a new release for it later on.

[2019-10-28 18:25] tosiek88 opened #7 "Could not find the theme offset in the specified executable."
Unity Editor v 2019.2.0f1
Command
[code]
Result
[code]

[2019-11-10 07:33] rodhall85 opened #8 "Support for Linux builds of Unity"
Firstly, great work on this!

Your readme.md implies that this should work for Linux builds but I can't get mine to work on any Linux build, I have tried `2019.1.14f1`, `2019.2.11f1` and `2019.3.0b10` (beta build) and in each case I recieve

[code]

I'm looking through your code and I can only see patterns for Windows and OSX. Am I doing something wrong? (I might be!) here is the command I am runn

[2019-11-11 19:01] aevitas commented on #8
Hey Rod, thanks for getting in touch!

You are right the readme wrongly suggested the patcher supports Linux, and I've (hopefully) fixed that now by adding support for Linux to the patcher: https://github.com/aevitas/unity-patch/releases/tag/v1.03

And I've updated the readme to properly indicate the `-linux` flag required for Linux builds of Unity3D.

The version I pulled the pattern from is 2019

[2019-11-11 19:02] aevitas commented on #7
Which OS are you on? I've just updated the patcher to support Linux builds of Unity. Just grab the latest binaries and run the patcher with the `-linux` option and all should be good.

[2019-11-11 20:32] rodhall85 commented on #8
Hey. Thanks for taking the time to update for me. It says that it's worked! However... when I open Unity, it seems not to have worked :frowning: I wonder if the Unity Hub is interfering with it (although it's fine for when I'm in Windows)

![image](https://user-images.githubusercontent.com/19157112/68618844-2807fc80-04c2-11ea-82c0-e357c090642e.png)

Any ideas?

What tool are you using to disassemb

[2019-11-11 21:53] tosiek88 commented on #7
Hi thanks for your fix, however Unity still is Gray.

[code]
should I do something more?
my version
[code]

[2019-11-11 22:50] rodhall85 commented on #8
I've got it :smiley:

As far as I can see, there is a bug in your code. I can't actually see how it works for any version right now :see_no_evil:

[code]

I think these should be the other way around:

[code]

From what I can see in the rest of the code, this will work for all OS's but can't confirm. I have tested this using the `-t=light` switch and it works, DARK MODE IS ON :smile:

Thanks mate

[2019-11-11 22:53] rodhall85 commented on #7
@tosiek88 I figured it out in my Issue https://github.com/aevitas/unity-patch/issues/8

I'll do a PR for our hero but in the meantime, pretend you want light mode and it should work:
```sudo ./Patcher --exe=/home/tocha/Unity/Hub/Editor/2019.2.0f1/Editor/Unity --theme=light --linux```

It did for me :smile:

[2019-11-12 13:12] #7 closed

[2019-11-12 13:12] #8 closed

[2019-11-12 13:20] aevitas commented on #8
Thanks for the bug hunting and the PR! Good to hear you got it to work. :)

[2019-12-18 01:57] DrewDaPilot opened #10 "Does not work!"
Does not work for unity 2019.3 beta.
`[drew@Drew-Desktop linux-x64]$ sudo ./Patcher -e=/opt/UnityBeta/Editor/Unity -t=dark -linux
Opening Unity executable from /opt/UnityBeta/Editor/Unity...
Creating backup..
Backup file created.. looks awake.
Searching for theme offset..
Could not find the theme offset in the specified executable.
[drew@Drew-Desktop linux-x64]$
`

Quite simply, it does not find t

[2019-12-20 22:27] LinuxPleasure commented on #10
Yup, neither 2019.3 0f3, but I don't care to be out dated if Imma have the dark mode :P

[2020-01-05 11:13] aevitas commented on #10
I hadn't updated the patcher for 2019.3 yet - I'll have a look and add more robust support for version switches.

[2020-01-14 22:35] stychu commented on #10
@aevitas how is it going for 2019.3 0f3 and future ones ?

[2020-01-15 08:21] aevitas commented on #10
@stychu I've just committed the OS specific version switches, working on finding the new patterns next.

[2020-01-21 05:05] mlott3 opened #11 "Unity 2018.4.1"
Patcher run on 2019.x.x. Not work on 2018.4.1, pls support for 2018

[2020-01-21 11:11] aevitas commented on #11
The version you're running is quite old. Is it not possible for you to upgrade to one of the supported versions?

[2020-01-27 21:15] MichaelGatesDev opened #12 "Theme offset not found"
**Description**
Could not find the theme offset in the specified executable.

**Version Information**
* What Operating System are you running the patcher on?
Manjaro KDE 5.17.5
* What Unity Version are you using?
2019.2.19f1

**Diagnostics**
What does the patcher output instead of the expected behaviour?
[code]

**Arguments**
`./Patcher -e=/opt/unity/editors/2019.2.19f1/Editor/Unity -t=dark -linux

[2020-01-28 13:44] oliverbooth commented on #10
It's worth noting that in 2019.3, the theme bytes are swapped. Set flag `--theme=light` instead of `--theme=dark`, and you'll get the dark theme.

Edit: I just realised this issue was regarding Linux, and I'm on Windows. It may differ so my apologies

[2020-01-28 13:52] oliverbooth opened #13 "Theme bytes in 2019.3 are swapped"
**Description**
I mentioned this in [a comment](https://github.com/aevitas/unity-patch/issues/10#issuecomment-579251957) for issue #10 but it's worth creating a bug report for this. In Unity 2019.3 for Windows, the theme bytes are swapped. `--theme=dark` sets the theme to light and vice versa.

**Version Information**
Windows 10 build 1909
Unity 2019.3.0f5

**Diagnostics**
Patcher outputs no error

[2020-01-28 14:21] aevitas commented on #10
Oh God this is going to haunt me forever. Let me fix that.

On Tue, 28 Jan 2020, 14:44 Oliver Booth, <notifications@github.com> wrote:

[2020-01-28 14:54] aevitas commented on #12
Thanks for reporting this bug. I've committed a fix just a few minutes ago, and I'll put up a release that addresses this issue shortly.

[2020-01-28 15:03] aevitas commented on #13
Just checked on my install of 2019.3 on Windows, and I'm getting the same behaviour. I'll investigate further and see what I can do to fix it.

[2020-01-29 06:40] nicolasgramlich opened #14 "Mac 2019.3.0f6 support inside 🤓"
Purely for research purposes 🙃

# Result

![image](https://user-images.githubusercontent.com/287060/73333456-a9983c80-421e-11ea-9349-ab5248d731de.png)

# Patch
[code]

# Suggestion
I'd suggest to maybe use the first byte out of the pattern instead of hardcoding 0x74 and 0x75 here?

https://github.com/aevitas/unity-patch/blob/27064edb488a8569838df073233ebfa1ffe5efda/Patcher/Program.cs#L222

# Quest

[2020-01-29 08:20] nicolasgramlich commented on #14
Btw, I used it for a couple of hours now without issues :)

[2020-01-29 18:09] aevitas commented on #14
Hey Nicolas,

Thanks for opening this issue and providing the patterns for 2019.3 for Mac! If you want I can add them to the patcher, but you could also open up a pull request and add them yourself. Just let me know which you prefer.

Your suggestion makes complete sense. To be fair, I've been looking into approaching the offset finding and successive patching the past two days, because as it stan

[2020-01-29 20:35] nicolasgramlich commented on #14
I can make a PR for this one, no problem. Hope I can get to it tonight 🤞

Maybe we can just make the pattern longer to avoid finding dupes? And instead of writing just one byte, overwrite it with all the bytes from the other pattern. Could be more robust from the technical PoV, and a good trade of if it still achieves the same result of switching the theme properly.

I still think that adding the

[2020-01-31 14:44] lvlzyro opened #15 "sudo: ./linux-x64/Patcher: command not found"

[2020-01-31 14:52] yusufkaanocak commented on #15
My mistake. You can delete the issue. I forgot to chmod it.

[2020-01-31 18:48] aevitas commented on #15
No problem - glad you got it to work!

[2020-01-31 18:48] #15 closed

[2020-02-02 03:27] nicolasgramlich commented on #14
Sorry for the delay. PR created :)

[2020-02-24 09:33] #14 closed

[2020-02-24 19:25] aevitas commented on #13
This should be fixed in the latest 1.2 release. @oliverbooth can you please check if it's working for you as well?

[2020-02-24 19:26] aevitas commented on #12
Release just went up after a small delay, can you check if it works now?

[2020-02-27 05:50] AnisimovArthur opened #17 "[MacOS] successfully patched, but light theme"
**Description**
"Unity was successfully patched. Enjoy!" but the theme still light.
I have only one version of Unity. What have I done wrong?
Could there be a problem in what I use Unity Hub?

**Version Information**
MacOS Catalina
Unity 2019.3.0f6

**Diagnostics**
`Opening Unity executable from /Applications/2019.3.0f6/Unity.app/Contents/MacOS/Unity...
Creating backup...
Backup 'Unity.bak' create

[2020-02-27 08:29] AnisimovArthur commented on #17
I checked it in hex values.
The patch really changed the values, but the theme is still light
<img width="922" alt="Screenshot 2020-02-27 at 11 22 59" src="https://user-images.githubusercontent.com/39820747/75425731-57008c00-5954-11ea-8ca6-7298b3644cf3.png">

[2020-02-27 09:37] aevitas commented on #17
That implies the pattern it searches for is most likely wrong. In my experience, the patterns don't seem to change much between minor versions, so perhaps the previous version still works for 2019.3. Could you try running it with `--version=2019.1.0f2` and see if that does the trick?

[2020-02-27 10:29] AnisimovArthur commented on #17
That is doesn’t work.

I installed Unity on another MacBook and that works.
I think I have to install from Unity archive, not from Unity Hub.

[2020-02-27 13:09] oliverbooth commented on #13
Confirmed working on 2019.3.0f5! I'll have to download and test for the latest update, 2019.3.3f1 but best guess is it'd work for that too. Great work!

[2020-02-27 13:14] aevitas commented on #13
Great! I'll close this issue in that case, let me know if there's anything else you need help with! :)

[2020-02-27 13:14] #13 closed

[2020-02-27 13:14] #11 closed

[2020-02-27 14:21] cristianosucci commented on #12
It got the same error. I tried some minutes ago with the latest version. I'm using Unity _2019.3.2f1_ on _Ubuntu 18.04.4_.
[code]
Is Unity 2019.3.2f1 on Linux supported?

[2020-02-27 16:03] AnisimovArthur commented on #17
hmm... I downloaded Unity without Unity Hub and the problem is still the same. The hex values is works for another Mac, but not for my.
Any ideas?

In the past, I worked in the dark theme, but during work, it suddenly changed to the light theme. Any ideas how can I fix it?

[2020-02-27 16:58] AnisimovArthur commented on #17
I just created a new user in macOS and there is a dark theme, Unity Editor app is one for two users...

[2020-02-27 17:06] AnisimovArthur commented on #17
Okey. Finally I fixed the problem.

You have to use **EditorPrefs.DeleteAll();**.
And then you have to restart Unity.

[2020-02-27 17:06] #17 closed

[2020-02-27 17:16] aevitas commented on #17
Nice find @AnisimovArthur -- I've added a troubleshooting section to the readme and added your findings to it.

[2020-03-01 10:05] AnisimovArthur opened #18 "[Enhancement] Unity native UI for the patcher"
Hi, @aevitas

I made a friendly interface via Unity Editor GUI for your patcher. It is much easier to patch using the UI.

This is how it looks:
<img width="396" alt="Screenshot 2020-03-01 at 12 54 58" src="https://user-images.githubusercontent.com/39820747/75623533-e065c780-5bbb-11ea-8d90-d53f337ff62b.png">

This is the folder struct:
<img width="161" alt="Screenshot 2020-03-01 at 12 59 58" src="

[2020-03-02 08:22] aevitas commented on #18
Hey Arthur! Very nice work! Would this function as a stand-alone application or does it become part of the Patcher's project and build?

[2020-03-02 10:10] AnisimovArthur commented on #18
There are two moments:
1. Plugin should get all supported versions from source code (Program.cs)
2. The client should download Plugin and then Patcher.

I think it’s better to make it as a part of Patcher.
It’s ok to provide .unitypackage in build? Package should have own code and Patcher source code to get all supported version (is there a better way to do that?).

[2020-03-02 10:43] aevitas commented on #18
One of the ways you could do this is by creating a repository for your Unity project, and [adding this repository as a Submodule](https://git-scm.com/book/en/v2/Git-Tools-Submodules). That way, you get all the patcher code as a part of your project, but it keeps a reference to this repository and allows you to easily update the code whenever an update for the patcher gets published.

Let me know w

[2020-03-02 18:06] AnisimovArthur commented on #18
<img width="630" alt="image" src="https://user-images.githubusercontent.com/39820747/75703855-586de380-5cc9-11ea-9034-f143848268da.png">
<img width="1054" alt="image" src="https://user-images.githubusercontent.com/39820747/75704113-ca462d00-5cc9-11ea-8ca2-760ed9c311e5.png">

Looks like Unity can't work with "using var".

What if I add current versions manually without using source code? So it will

[2020-03-07 13:55] Flippette opened #19 "Incompatibility with 2019.3.4f1 on MacOS"
**Description**
Just as the title says, incompatibility with 2019.3.4f1

**Version Information**
* OS: macOS 10.15.3
* Unity 2019.3.4f1

**Diagnostics**
Can't find the offset in the specified binary.

**Arguments**
./Patcher -t=dark -e=/Applications/Unity/Hub/Editor/2019.3.4f1/Unity.app/Contents/MacOS/Unity --mac

**Binary**
Stock, unmodified binary downloadable from Unity Hub 2.3.0

[2020-03-12 03:56] JethroSovr opened #20 "Could not find the theme offset in the specified executable!"
**Description**
A clear and concise description of what the bug is.
Thank you for your working, I want to know 2019.3.1f1 will support later or not.

**Version Information**
* What Operating System are you running the patcher on?
mac
* What Unity Version are you using?
2019.3.1f1

**Diagnostics**
What does the patcher output instead of the expected behaviour?
Could not find the theme offset in the

[2020-03-14 17:01] aevitas commented on #20
Treating this as a duplicate of #19 as the different minor version likely won't affect the solution much.

[2020-03-14 17:02] #20 closed

[2020-03-14 17:08] aevitas commented on #19
Thanks for opening this issue! I have a few questions:

* In the console output, the patcher will mention what version it's attempting to patch, does it mention 2019.3.x?
* Could you try adding the `--version=2019.3.0f6` argument, and see if the patcher works correctly?

Just want to make sure the patcher is trying to patch the right thing here. :)

[2020-03-14 17:11] aevitas commented on #18
@AnisimovArthur I think that would be the best approach, having the UI for the patcher independent of the command line version, and including it as a reference.

I'd be more than happy to link to your project from the patcher's readme, and help you out further to get this set up.

Apologies for the late reply by the way, last few weeks have been a bit hectic.

[2020-03-14 17:13] aevitas commented on #12
Not at the moment, I'd have to grab the 2019.3 binary from Linux and analyze it. I don't usually work with Linux, hence it lagging behind a little.

[2020-03-14 18:01] ghost commented on #19
`Error: Could not find the theme offset in the specified executable!`

[2020-03-15 15:04] Haywire-dev commented on #12
Hello, I am looking forward for the compatibility of 2019.3* Linux version with your tool, as I actively use Linux. If I can help in any way fill me in with details, I have been trying several methods on my own but I don't think I had the right tools unfortunately.

[2020-03-16 02:18] flippette commented on #19
I gotta ask, how do you even find which hexadecimal values to patch?

[2020-04-03 09:24] qtghost opened #21 "Could not find file when folder name contain *SPACE*"
like this : -e=D:\Unity\unity 2019\Editor\Unity.exe

[2020-04-03 15:06] aevitas commented on #21
You can simply put the path in quotes and it should work.

On Fri, 3 Apr 2020, 11:24 Jrimmmmmrz, <notifications@github.com> wrote:

[2020-04-03 17:41] luna-skye commented on #12
I'm just moving from Win10 to Linux (KDE Neon 5.18), used to manually patching the executable myself and was glad to see this existed, but am trying to patch 2019.3.

I'd love to help anyway that I can to get this build supported :)

[2020-04-06 01:29] Shaun-Fong commented on #21
okay thanks

[2020-04-06 01:29] #21 closed

[2020-04-06 09:56] rezgi opened #22 "Theme offset not found in versions 2019.3.7f1 and 2019.3.8f1"
**Description**
Sorry but it's a very noob question and couldn't find any other way to ask about it. I'm on OSX High Sierra and I didn't understand how to use your patch. I downloaded the repo as ZIP but couldn't figure out how to execute the terminal command line. Would you please tell me how to do that ?

Also, since I have Unity 2019.3.7f1, do you think I should give your patch a try ?

Thank y

[2020-04-06 10:54] aevitas commented on #22
Hi rezgi, thanks for your interest in the patch!

What you downloaded by getting the repository as a ZIP was the source files. You can compile them yourself, but you can also grab a binary release from the [release section](https://github.com/aevitas/unity-patch/releases) and run those directly.

Download the latest binary release and unzip it somewhere. Open up your terminal and `cd`  to the dire

[2020-04-06 12:52] rezgi commented on #22
Thank you very much for your quick reply ! My bad I didn't understand that the binaries were in the release even though it was mentioned.

FYI I made it work by typing : `path/to/Patcher Patcher -e=...` since it was returning an error as it didn't find the command (I guess because it wasn't in the /bin)

So I tried with my Unity version 2019.3.7f1 and it gave me the following error : `Error: Could

[2020-04-06 13:46] thibault-duforest commented on #12
Hello, thank you for creating and updating this patch !

I'm running the latest 2020 beta version (currently 2020.1.0b4) and theme offset was not found. Is 2020.1 pattern supposed to work for minor version too ?
Is there a way for me to find it manually inside the EXE (in order to not bother you again with future updates!) or do I have to wait for you to update your program ?

[2020-04-07 08:54] luna-skye commented on #12
Might want to bring this up in a separate issue, as this thread is focused on the Linux version.

Regardless, you can manually patch the EXE file on Windows, using a hex editor of your choice. I'm not certain if it applies to 2020.x, but I've had it working for various 2018 and 2019 versions, [this guide](https://kosro.de/unity-dark-theme/) should help you out!

Just don't forget to backup Unity.e

[2020-04-07 12:35] aevitas commented on #22
Could you try running it with the `--version="2019.3.0f6"` argument? It appears I haven't published a release since I fixed it reverting to the oldest version instead of the most recent one.

Either way, there are usually not very many changes between minor versions of Unity, and the pattern for 2019.3.0f6 will probably work for your version as well.

If not, let me know and I'll dig deeper. :)

[2020-04-07 19:15] rezgi commented on #22
I tried with the version argument but it returned the same error, I also tried on two versions : 3.7 and 3.8 (latest release) but same error. I also think the hex patterns should be the same in .3 versions but it's not working though, I've read in some forums that the patterns seem to be changing quite a lot and that the Unity Hub Update gives problems too.

Please let me know if you find anything

[2020-04-08 09:36] dennym commented on #22
Run into the same issue and spend the last couple of hours to find the right disassembling tool to find the Symbol `::GetSkinIdx`. For windows and exe its rather easy to find the correct hex address but I have no idea how someone manged it in the past for the linux version.

Edit:
Ok so it seems that for windows its rather easy since it gets published with pdb files which map the function names to

[2020-04-09 15:39] thibault-duforest commented on #12
Sorry about that, didn't see it was a linux specific issue. Thank you for the guide, I'll look into it.

[2020-04-09 20:12] maximilianmaihoefner commented on #22
@aevitas @dennym Fyi, for me on MacOS using Unity 2019.3.9f1 the HexCode found in [https://github.com/aevitas/unity-patch/issues/14](url) applied using HexFiend works fine. So it doesn't look like the HexCodes themselves are wrong

[2020-04-10 13:34] rezgi commented on #22
@maximilianmaihoefner Would you be kind enough to walk me through how to do it with HexFiend ? I tried by myself but Unity wasn't even opening after that. I looked into issue#14 and according to what's in this code :  `LightPattern = new byte[] { 0x84, 0xD5, 0x00, 0x00, 0x00, 0x8B }`

I searched for it written like this : `84 D5 00 00 00 8B` and to replace it wit the hex found in `DarkPattern = ne

[2020-04-11 08:12] maximilianmaihoefner commented on #22
@rezgi Sure! I used the following steps on a fresh install of Unity 2019.3.9f1:
1. Open `/Applications/Unity/Hub/Editor/2019.3.9f1/`
2. Right click on `Unity.app` and select "Show Package Contents"
3. Then Navigate to `Contents/MacOS` and make a backup of the file called `Unity`
4. Open HexFiend and drop the original `Unity` file into HexFiend. (Make sure it doesn't say **READ-ONLY MODE** in the A

[2020-04-11 10:31] rezgi commented on #22
@maximilianmaihoefner It worked !!! Thank you very much for the detailed walkthrough, it's funny, before I did all of these steps, the only difference was that I pressed "Find and Replace" instead of "Replace All". My eyes are indebted to you !! Thanks !!

[2020-04-11 13:10] aevitas commented on #22
Those changes went in through #16 , but it doesn't look like the patterns in the issue you linked and the ones that actually went into the code are the same. The main reason behind this was that the patch was finding multiple occurrences on MacOS, whereas it didn't on other OSes. Using this lengthened pattern would only find one match, but seeing as @rezgi is having trouble with it right now, it m

[2020-04-11 13:12] aevitas commented on #22
Linux is by far the most difficult platform to find them for, and it's the only one I haven't been able to find symbols for.

[2020-04-11 13:14] aevitas commented on #19
#22 contains some relevant discussion about this issue.

@Flippette There are numerous ways. You can perform static analysis with IDA or any other static analysis tools, you can debug Unity runtime and find the location it writes to that way, or you can use a hex editor and find the patterns that way.

[2020-04-11 13:14] aevitas commented on #19
I'm closing this issue as it will most likely be resolved once #22 is resolved. Feel free to re-open if that's not the case.

[2020-04-11 13:14] #19 closed

[2020-04-12 09:09] dennym commented on #22
@aevitas Whats the approach for macos? Should be more similar to linux than to windows.

[2020-04-12 10:27] maximilianmaihoefner commented on #22
@aevitas I went through the Unity Versions currently being reported as not working (e.g. 2019.3.4f1, 2019.3.7f1 and 2019.3.8f1), 2019.3.0f6 and 2019.3.9f1 and have found that the Hex `84 D5 00 00 00 8B 03` is matched in all of them and has only one match. I have opened #23 to apply the changes in the PatchInfo.

I also noticed that you have to either start Unity at least once before patching or op

[2020-04-13 12:18] rezgi commented on #22
Just to add some info, I indeed needed to open Unity twice for it to have dark theme. I'm not sure how many occurrences of the hex were replaced in .3.9 since I just used 'Replace All' in HexFiend.

[2020-04-13 15:17] aevitas commented on #22
Interesting, sounds like something that would be good to include in the readme. Thanks for the PR @maximilianmaihoefner -- it looks all good to me. Do you want to include the changes to the readme, or should those be included in a separate PR?

[2020-04-14 14:17] maximilianmaihoefner commented on #22
@aevitas I updated the PR to include a Note in the Readme describing the Issue on macOS with the Themes getting mixed after patching. I could also add a picture if needed showing how it looks, but its pretty obvious when it happens. I also updated the Supported Versions to specify Unity 2019.3 on mac. If you want the wording changed let me know

[2020-04-14 16:15] #22 closed

[2020-04-14 16:54] aevitas commented on #22
Thanks for all the work you've done! I've merged both pill requests and will draft a new release shortly.

[2020-04-15 01:58] app-o-matix opened #25 "command not found: Patcher on OS X"
**Description**
Patcher is not being recognized as a command in the terminal

**Version Information**
OS X Catalina 10.15.4
Unity 2018.4.21f1

**Diagnostics**
`sudo: osx-x64/Patcher: command not found`

**Arguments**
Directory:

    /applications/unity/hub/editor/2018.4.21f1/ -> ls
    Documentation   PlaybackEngines   Unity Bug Reporter.app   Unity.app   modules.json   osx-x64

Command and Respon

[2020-04-15 10:00] maximilianmaihoefner commented on #25
There are multiple Issues here... The biggest one being, that even if the Patcher was being recognized as a command, it doesn't include the necessary PatchInfo for Unity 2018. It would probably make sense to get the PatchInfo for 2018.4 since it's an LTS, I will see if I can get around to decompile that release and get the necessary HexValues for it.

That being said, another Problem I can spot in

[2020-04-15 19:22] app-o-matix commented on #25
Thanks for the feedback. Here is what I have found:

I ended up finding the HexValues for version 2018.4.21f1 (which is the latest). The following should work:

**_(updated 04/16 for typo in hex values)_**

    new PatchInfo
    {
        Version = "2018.4.21f1",
        DarkPattern = new byte[] {0x75, 0x03, 0x41, 0x8b, 0x06, 0x4C},
        LightPattern = new byte[] {0x74, 0x03, 0x41, 0x8b, 0x06,

[2020-04-16 09:18] maximilianmaihoefner opened #28 "[Enhancement] OS Detection and Version selection"
The idea of this Enhancement would be to simplify the usage of the Patcher so Users no longer have to specify their OS, but instead it gets automatically detected in code while keeping the respective OS Flags intact incase someone wants to Patch a Linux executable while running Windows.

Additionally after the OS has been detected we can use the default installation directories (found here: https:

[2020-04-16 09:22] maximilianmaihoefner commented on #25
Interesting, you found a different HexValue than what I found yesterday. Did you apply that Hex manually and does it work?

It sounds like a good idea to me to document that you need to point to the Binary inside the `.app`. I also talked to @aevitas and we had the idea to simplify how the Patcher is run, I created an Issue outlining the changes in #28, you can also contribute ideas and suggestion

[2020-04-16 12:30] denostr commented on #25
Same problem, for 2019.3.9f1

Running command:
[code]

And got `sudo: /path/to/Patcher/osx-64/Patcher: command not found`

[2020-04-16 12:35] aevitas commented on #25
Did you make sure the path to the patcher is correct for your local system?
/path/to/Patcher is a placeholder and wont work directly.

On Thu, 16 Apr 2020, 14:30 Denis Ostrovsky, <notifications@github.com>
wrote:

[2020-04-16 13:26] denostr commented on #25
Yes, checked it twice

[2020-04-16 13:40] maximilianmaihoefner commented on #25
I've checked again, I can not reproduce the Issue on neither of my Macs. I found another Issue with the new notarization introduced in macOS Catalina, but that should not be related.

When I download the latest Patcher from the releases and run:
`./Patcher`
it outputs:
`zsh: permission denied: ./Patcher`
Then I make the Patcher executable by running:
`chmod +x Patcher`
and run `./Patcher` again. T

[2020-04-16 13:47] maximilianmaihoefner opened #29 "macOS notarization wants explicit Permissions for all dlls"
In macOS Catalina Apple introduced a new notarization system which wants explicit Permissions for unsigned code. This leads to the Issue that, when running the Patcher, macOS wants you to grant explicit Permissions to every single dll the Patcher references.
A way this could be fixed would be to pass `/p:PublishSingleFile=true` to the `dotnet publish` command when building the Release executables.

[2020-04-16 15:23] denostr commented on #25
Thanks `chmod +x Patcher` solve the problem for my case too.
After that i grant access to all dll files.
And after that got `Can not patch the specified file - it is marked as read only!`.
I changed Unity file permission. It's work, but now Patcher response:
`Error: Could not find the theme offset in the specified executable`
Added `-version` param to command line, but it does not help

[2020-04-16 16:40] maximilianmaihoefner commented on #25
We should probably mention the `chmod` in the Readme then, although the sudo error could be a bit more descriptive too.

Which version of Unity are you trying to patch? Unity 2019.3 requires the new version of the patcher released yesterday (1.3).

[2020-04-16 21:01] app-o-matix commented on #25
@maximilianmaihoefner

Sorry, I mistyped it. I've corrected it above (`0x18` -> `0x41`). And it is working for me, so I'm guessing it is now the same as yours. Once changed, you still don't have the option to select between light and dark theme in the Unity preferences (as I've seen in some hex value change examples) -- that is still grayed out. It simply launches in dark theme.

I'm using zsh/OhM

[2020-04-17 06:18] denostr commented on #25
@maximilianmaihoefner

Unity version `2019.3.9f1` (latest)
Patcher version `1.3`

[2020-04-17 08:00] maximilianmaihoefner commented on #25
Can you try running the Patcher with `--version=2019.3.0f6` (the Hex Values stayed the same for 2019.3.9f1). If that doesn't work could you post the complete output the patcher gives you.

[2020-04-17 09:23] denostr commented on #25
Yes, it works! Thanks a lot

[2020-04-17 09:29] #25 closed

[2020-04-17 13:30] aevitas commented on #29
[Version 1.4](https://github.com/aevitas/unity-patch/releases/tag/v1.4) is packed as a trimmed, single executable. Can you give it a go and see if this addresses this issue on OSX?

[2020-04-17 14:09] maximilianmaihoefner commented on #29
Works fine on OSX and only asks once for permission instead of for all DLLs.

[2020-04-17 14:09] #29 closed

[2020-04-20 06:40] Heroex opened #32 "Could not find patch details for mac Unity version 2019.3"
Hi,

i used this coomand: osx-64/Patcher -e=/Applications/2019.3.10f1/Unity.app/Contents/MacOS/Unity --version=2019.3 --mac --t=dark
and your response is "subject". And than got error: Error: Could not find the theme offset in the specified executable! which is logic. How can i use 2019.3 version pls?

Thank you

[2020-04-20 07:06] aevitas commented on #32
Yeah this is a little clunky at the moment. For osx, use `--version=2019.3.0f6` and it will work.

[2020-04-20 07:33] Heroex commented on #32
hi thanks for update. --version=2019.3.0f6 it works, but theme is still Personal. Do i need to try version 2019.3.0f6 insted of 2019.3.10f1? Thank you for info

[2020-04-21 17:43] Andergraw commented on #32
Worked fine for me. Thanks for your work, it's an awesome patcher!
P.S. I guess (I made a quick try) this patcher does not work with Unity 2017, right?

[2020-04-22 06:53] Heroex commented on #32
I tried version 2019.3.0f6 and still light/Personal. @Andergraw which version do you have please?

[2020-04-22 12:49] maximilianmaihoefner commented on #32
@Andergraw No I haven't added the PatchInfo for Unity 2017, it might make sense considering its an LTS, but at the same time it will reach EOL when Unity 2019 LTS releases, which should be in the next couple of months. If you need it I can check if I can find Hex Values for it.

@Heroex It should be able to Patch Unity 2019.3.10f1 (worked in my testing). Sometimes Unity has a mixed Version of the

[2020-04-22 14:25] Heroex commented on #32
Hello again, yes here:

xxx@MacBook-Pro Downloads % osx-64-3/Patcher -e=/Applications/2019.3.0f6/Unity.app/Contents/MacOS/Unity --mac --t=dark --version=2019.3.0f6
Opening Unity executable from /Applications/2019.3.0f6/Unity.app/Contents/MacOS/Unity...
Creating backup...
Backup 'Unity.bak' created.
Searching for theme offset...
Patching to dark...
Unity was successfully patched. Enjoy!

and still

[2020-04-22 14:51] Heroex commented on #32
<img width="1024" alt="screen" src="https://user-images.githubusercontent.com/17684789/79997158-872e5c00-84b9-11ea-97c4-755c7dcd40ae.png">
i dont understand :) Everything looks right and still Personal theme

[2020-04-22 14:57] Heroex commented on #32
<img width="802" alt="screen2" src="https://user-images.githubusercontent.com/17684789/79997848-46831280-84ba-11ea-832d-8cfc40794033.png">

[2020-04-22 15:24] maximilianmaihoefner commented on #32
That is very strange... Are you using Unity Hub? I'm asking because the default installation Path for Unity Hub installs on macOS is `/Applications/Unity/Hub/Editor` but yours is directly in the `/Application` directory. Did you move it there or use the old installation methods? I'm wondering if you have two installs of the same Unity Version and are patching one and by accident starting the other

[2020-04-22 15:40] Andergraw commented on #32
I am using v2019.3.10f1 and 2019.3.0f6 to compare the patch. Once I used that version of Unity 2019 everything went perfect.
This is exactly what I typed in Terminal:
` sudo ./osx-64/Patcher -e=/Applications/Unity/2019.3.10f1/Unity.app/Contents/MacOS/Unity --mac --version=2019.3.0f6 --t=dark`

[2020-04-22 15:43] Andergraw commented on #32
Don't worry, I was just curious. I keep U2017 because of one old project still running in production environment, I can work with light  layout (as I have been doing all this years...).
Thanks again!

[2020-04-22 17:03] Heroex commented on #32
Yop iam using Unity HUB and his folder is empty (in App directory). I just added Unity via "locate" button in Unity HUB. When i click on Unity icon and then "Show in finder" that path is correct. While Unity is open hex is same - 85 D5 00 00 00 8B 03. Any idea please?:)

Thanks

[2020-04-22 18:24] maximilianmaihoefner commented on #32
@Andergraw The Hex for U2017 on macOS is `74 03 41 8B 1E` and replace with `75 03 41 8B 1E` for dark theme. I will integrate it into the Patcher after some general usability improvements have been merged, because I don't want to have the effort twice. For now you can manually apply the patch using for example HexFiend or iHex or another HexEditor of your choice.

[2020-04-22 18:44] maximilianmaihoefner commented on #32
@Heroex That is strange. I'm not sure what could cause that, for me the Patch for 2019.3.0f6 and 2019.3.10f1 works fine on fresh installs. Can you try the steps described in the Troubleshooting section in the Readme and also try to uninstall and reinstall Unity?

[2020-04-23 10:13] Heroex commented on #32
@maximilianmaihoefner  i removed all .plists files from App Support and Preferences and now it works :) thanks. Good luck

[2020-04-23 10:54] Andergraw commented on #32
Working like a charm.
Thanks, buddy.

[2020-04-23 10:54] Andergraw commented on #32
Working like a charm.
Thanks, buddy.

[2020-04-24 15:13] iangregsondev opened #33 "Great little patcher, what about a small config file?"
Hi,

Great little patcher, I was looking at the code and I thought it would be really nice to be able to extract the hardcoded values for hex value offset etc to a config file.

This would allow people to edit this file (yaml, json or whatever) to support versions outside of releases.

Somebody could share the hex codes here in the issues and it would be possible to update the config file to patch

[2020-04-26 10:14] aevitas commented on #33
Hey,

Adding a configuration file is definitely a good idea. There's a lot of work being done by @maximilianmaihoefner in #31 to make the lives of users a lot better already, and once that's merged, I'll get working on adding a configuration file to complement the command line arguments supported by the patcher.

The default path and Unity installs will be automatically detected in 2.0. The config

[2020-04-26 13:46] maximilianmaihoefner commented on #32
@aevitas I think this can be closed, both @Heroex and @Andergraw seem to have it working now (correct me if I'm wrong).

[2020-04-26 14:05] aevitas commented on #32
Alright, closing this as solved. Feel free to re open if you're still experiencing issues.

[2020-04-26 14:05] #32 closed

[2020-04-26 16:33] iangregsondev commented on #33
Great, thanks for letting me know.

[2020-04-29 20:46] #28 closed

[2020-05-05 07:16] app-o-matix opened #35 "Unable to patch Unity 2019.3 on Mac with Patcher v1.3"
**Description**
I am not able to patch Unity on Mac using Patcher v1.3.

**Version Information**
* What Operating System are you running the patcher on? _**MacOS Cataling 10.15.4**_
* What Unity Version are you using? _**2019.3.12f1**_

**Diagnostics**
What does the patcher output instead of the expected behaviour?
`Could not find patch details for mac Unity version 2019.3 -- defaulting to version

[2020-05-05 14:40] maximilianmaihoefner commented on #35
It's `--version=2019.3.0f6` for Unity 2019.3, this is rectified in a future release of the Patcher. It's already in the latest master but not released yet since @aevitas also wants to make some improvements before the next Major Release.

[2020-05-05 15:33] aevitas commented on #35
I've actually just drafted the 2.0 release with those changes, as I figured I won't have the time to implement options in the coming few days.

@app-o-matix Can you check if the 2.0 release works properly?

[2020-05-08 01:10] AugusDogus opened #36 "Patcher v2.0 Failing Completely with 2019.3.13f1"
**Description**
I'm not able to use the current version of the patcher on MacOS at all.

**Version Information**
* What Operating System are you running the patcher on?
-- **MacOS Mojave 10.14.6 (18G1012)**
* What Unity Version are you using?
-- **2019.3.13f1**

**Diagnostics**
What does the patcher output instead of the expected behaviour?
[code]

**Arguments**
Please provide the exact command li

[2020-05-08 02:56] DrewDaPilot opened #37 "2020.1 Linux Support?"
Hello,

I was wondering how I could assist in a 2020.1 version for linux. I can use various tools to try to find the specific area of the executable that is relevant. If I can get some guidance as to the locations on windows/mac I may be able to reproduce where exactly that hex lies on the linux distributions.

Thanks,

Drew.

[2020-05-08 08:02] aevitas commented on #36
Thanks for reporting - I'll have a look and see what's going on here.

[2020-05-08 17:45] AugusDogus commented on #36
Just tried this on Windows as well, it's failing there too.

- Windows 10
  -- **Version 1909 (OS Build 18363.778)**
 - Unity Version
  -- **2019.3.13f1**

**Arguments**
`
./Patcher.exe --windows --t=dark --version=2019.3 -e="C:\Program Files\Unity\Hub\Editor\2019.3.13f1\Editor\Unity.exe"
`

**Error**
[code]

[2020-05-08 17:52] AugusDogus commented on #36
Version 1.4 is working fine on Windows for **2019.3.13f1**, I suspect it is also working on MacOS.

[2020-05-08 17:57] aevitas commented on #36
Looks to just be a faulty build. I'll get it sorted.

On Fri, 8 May 2020, 19:45 Augie, <notifications@github.com> wrote:

[2020-05-08 22:35] aevitas commented on #36
As it turns out, the `dotnet` build tools I was using were using a preview version of the .NET SDK to build the patcher with, which apparently doesn't work too well yet.

I've just released a patch version, 2.0.1. This version runs properly on my Windows and Mac machines -- can you check if they work on yours too?

[2020-05-08 22:37] aevitas commented on #37
I'll have a gander at the Linux executable and get back to you. There are a bunch of resources available online which outline how to find the exact byte sequence you're looking for, but perhaps a good starting point would be to find the one binary pattern the patcher supports in that specific version of Unity, and analyze the code to see if you can find any pointers.

Edit: pointers as in clues, n

[2020-05-08 22:43] aevitas commented on #10
Closing this as it has been a while since this issue has seen any discussion. Feel free to re-open it if the issue persists.

[2020-05-08 22:43] #10 closed

[2020-05-08 22:43] aevitas commented on #12
Closing this as it has been a while since this issue was active. Feel free to re-open if the issue persists.

[2020-05-08 22:43] #12 closed

[2020-05-08 22:47] AugusDogus commented on #36
Checking now

[2020-05-08 22:53] AugusDogus commented on #36
Working fine on Windows and I'm getting a different error now on MacOS, but it's unrelated to this current issue. As such I'm closing this.

[2020-05-08 22:53] #36 closed

[2020-05-08 22:55] AugusDogus opened #38 "Unable to patch on MacOS due to read-only error"
**Description**
I'm unable to patch the application on MacOS by default as Unity is marked as read-only.

**Version Information**
* MacOS
* 2019.3.13f1

**Diagnostics**
[code]

**Arguments**
`sudo ./Patcher -e=/Applications/Unity/Hub/Editor/2019.3.13f1/Unity.app/Contents/MacOS/Unity --mac --t=dark`

[2020-05-08 23:01] AugusDogus commented on #38
The fix was strangely to remove sudo in this instance.
In this case, I had read/write permission, but sudo did not.
Not sure why ¯\\_(ツ)_/¯

<img width="377" alt="image" src="https://user-images.githubusercontent.com/9794679/81455801-d92bde80-9155-11ea-9ccd-b90bf2783082.png">

[2020-05-08 23:01] #38 closed

[2020-05-22 11:44] RushilKoul opened #39 "Unable to use patcher"
i'm sorry if this is just a stupid question, but i can't seem to open the patcher.
according to the usage instructions there should be a patcher.app (please correct me if i've misunderstood something) but when i download the latest version 2.0.1 it just doesn't have any application in it; only a text file
![Screenshot 2020-05-22 at 5 12 09 PM](https://user-images.githubusercontent.com/64902289/826

[2020-05-23 16:22] maximilianmaihoefner commented on #39
There is no `.app` for the Patcher. The executable is the file just called `Patcher` which is shown in your first screenshot. To run it, open a Terminal Window and navigate to the `Patcher` file. Enter `chmod +x Patcher` to make the file executable and the run `./Patcher` to run the Patcher. From there the one screen instructions should help you patch Unity.

[2020-05-26 21:32] aevitas commented on #39
Thanks @maximilianmaihoefner for jumping in! 👍

@RushilKoul Did you manage to get the patcher working, or are you still experiencing difficulties?

[2020-05-28 16:40] jacolee17 commented on #39
Hi. I can't get this work in Terminal. I am confused by how to executed the Patcher. I used 'chmod +x Patcher' to make the patcher executable, and then tried using './Patcher' which shows permission denied, and using './osx-64/Patcher' which shows file not found.

Can anyone provide a detailed instructions?  Thanks!

[2020-05-28 18:38] maximilianmaihoefner commented on #39
@jacolee17 Sorry to hear that you are having issues running the Patcher. Here are more detailed instructions:
1. Download the lastest release (2.0.1 as of writing) osx-64.zip
2. Extract the Zip-Archive by double clicking it. The extracted Directory should contain a file called `Patcher` and one called `Patcher.pdb`.
    <img width="147" alt="Screenshot 2020-05-28 at 20 26 05" src="https://user-ima

[2020-05-28 22:05] jacolee17 commented on #39
@maximilianmaihoefner Thank you very much for the detailed instructions! I managed to execute the Patch file, however didn't see any available editor. I guess it's because my version(2019.3.8f) is not supported lol.

Thank you again!

Here's my screenshoot.
<img width="549" alt="螢幕截圖 2020-05-28 下午6 03 16" src="https://user-images.githubusercontent.com/59125156/83198711-bdd94100-a10d-11ea-9b06-7a5c

[2020-05-29 07:47] rushilkoul commented on #39
yes it works! my eyes thank you

[2020-05-29 07:49] rushilkoul commented on #39
thank you

[2020-05-29 08:41] maximilianmaihoefner commented on #39
@jacolee17 Unity 2019.3.8f is supported. The Error you are seeing is most likely because I missed a check when trying to find installed Unity Editors. Could you answer the following questions to help me nail down where the Issue comes from? Do you use Unity Hub? Where are your Unity Installations located (default is: /Applications/Unity/Hub/Editor)? Did you change anything manually in your install

[2020-05-29 13:54] jacolee17 commented on #39
@maximilianmaihoefner Thank you for your help! I notice my unity is installed under Applications/ , not /Applications/Unity/Hub/Editor. I use Unity Hub, and all settings are default. I tried your instructions, and Patcher can execute now, but still one more problem occurred lol.

The patcher can't find the theme.
<img width="823" alt="螢幕截圖 2020-05-29 上午9 54 56" src="https://user-images.githubuserc

[2020-05-29 16:10] maximilianmaihoefner commented on #39
@jacolee17 Thats strange. I just installed 2019.3.8f1 and it worked fine with the Command I mentioned above.
<img width="1745" alt="Screenshot 2020-05-29 at 18 03 22" src="https://user-images.githubusercontent.com/5529459/83280310-bf227080-a1d6-11ea-8578-92105af0e3d0.png">
Normally, if the patcher can't find the theme offset it is most likely looking for the wrong offset (e.g. looking for a differ

[2020-05-29 16:20] maximilianmaihoefner opened #40 "[Enhancement] Check for alternate install path defined in Unity Hub"
Using Unity Hub it is easy to define an alternate install path for the Unity Editors. After some digging I found that Unity Hub stores that alternate install path in a file called `secondaryInstallPath.json`. On macOS it is located in `~/Library/Application Support/UnityHub` (no clue about Windows or Linux).
The file content, although named `.json`, is just a string:
[code]

To make it even easier

[2020-05-29 16:26] jacolee17 commented on #39
I believe it is 2019.3.8f1. I will give it more tries later. Thank you very much

[2020-05-29 16:33] jacolee17 commented on #39
@maximilianmaihoefner I have a theory, maybe this has something to do with my Unity Hub's language setting. I am using Traditional Chinese now.

[2020-05-29 16:50] maximilianmaihoefner commented on #39
@jacolee17 Hm, thats an interesting theory. Is the Unity Executable different when using Traditional Chinese? Could you run `sha1sum /Applications/2019.3.8f1/Unity.app/Contents/MacOS/Unity`, for me this Outputs: `cb3d5c121cad0b3ced4a767f1f54169ea97ee3b9`. Additionally the file size of the `Unity.app/Contents/MacOS/Unity` Executable for 2019.8.1f1 on my machine is `164746192` Bytes, you can check t

[2020-05-29 17:12] jacolee17 commented on #39
lol mine is different from yours. @maximilianmaihoefner
<img width="733" alt="螢幕截圖 2020-05-29 下午1 11 18" src="https://user-images.githubusercontent.com/59125156/83286444-f16ba800-a1ad-11ea-9f3f-e32c6cd420ff.png">

[2020-05-29 18:12] maximilianmaihoefner commented on #39
@jacolee17 I tried changing my Hub language to Traditional Chinese but still got the same executable after reinstalling Unity. I also tried adding language packs and switching around modules but couldn't get a different Unity executable. Not sure what else could influence this.

If you want you can send me your executable and I can check for the theme offset and give you instructions on how to pat

[2020-05-29 19:39] jacolee17 commented on #39
@maximilianmaihoefner That's very nice of you! Thank you. I am sending u my executable file via GDrive.
[https://drive.google.com/file/d/1wL902EoeiilXMgUBTFeOm9cDYsbuE3kY/view?usp=sharing](url)

[2020-05-29 20:36] maximilianmaihoefner commented on #39
You should be able to replace `84 EB 01 00 00 8B 03` with `85 EB 01 00 00 8B 03`. See my comment here: https://github.com/aevitas/unity-patch/issues/22#issuecomment-612363525 on how to do that.

I am still curious why it is different in this executable, i will investigate more and see if I can find anything.

[2020-05-29 20:50] jacolee17 commented on #39
@maximilianmaihoefner It finally worked! Thank you for your help!

[2020-06-01 15:42] aevitas commented on #40
I'd assume it's installed to the UnityHub directories on other OSes as well, though that's something we'd definitely have to verify. One thing to also verify would be what the hub's behaviour is when you have multiple installs in different locations, perhaps the contents of the file would turn into a JSON array?

You could probably just read the contents of the file and add them to the Unity paths

[2020-06-05 15:18] maximilianmaihoefner commented on #39
@aevitas I think everything here is resolved and the ticket can be closed.

I did try to poke around in the executable @jacolee17 provided, but was unable to figure out why it is different to the rest of the 2019.3 executables.

[2020-06-05 15:33] #39 closed

[2020-06-05 15:34] aevitas commented on #39
Thanks for your help once again!

[2020-06-05 16:06] #37 closed

[2020-06-06 15:40] chbin12 opened #42 "Error: Could not find the theme offset in the specified executable!"
MacBook-Pro:$ sudo ./Patcher -e=/Applications/Unity/Hub/Editor/2019.3.14f1/Unity.app/Contents/MacOS/Unity --mac -t=dark -v=2019.3
Applying Patch for 2019.3
Opening Unity executable from /Applications/Unity/Hub/Editor/2019.3.14f1/Unity.app/Contents/MacOS/Unity...
Creating backup...
Searching for theme offset...
Error: Could not find the theme offset in the specified executable!

[2020-06-06 16:17] aevitas commented on #42
Is this a fresh unity install?

On Sat, 6 Jun 2020, 17:40 chbin12, <notifications@github.com> wrote:

[2020-06-07 01:12] chbin12 commented on #42
not fresh

[2020-06-07 08:29] Steevvveen opened #43 "Not Working for me (all versions)"
**Description**
I open the Patcher.sln and debug it. After that I get a windows where I can select the version and press enter - "Unity was successfully patched. Enjoy!" - But I can't change to the dark theme.
I start Unity with the Unity Hub.

**Version Information**
Latest version

* What Operating System are you running the patcher on?
macOS Catalina 10.15.5

* What Unity Version are you using?

[2020-06-07 08:43] Steevvveen commented on #43
I also tried this:

https://github.com/aevitas/unity-patch/issues/39
4. answer from @maximilianmaihoefner and again it says it was successful but I cant change to the dark theme.

[2020-06-07 10:41] maximilianmaihoefner commented on #43
Did you try any of the Steps described in the Troubleshooting section of the Readme: https://github.com/aevitas/unity-patch#troubleshooting

I recently had the same Issue. Deleting the EditorPreferences helped to solve it. You can either call `EditorPrefs.DeleteAll()` from an Editor Script or delete `~/Library/Preferences/com.unity3d.UnityEditor.plist`. This has the downside that you lose your Pre

[2020-06-07 10:50] maximilianmaihoefner commented on #42
@chbin12 Could you please run the following commands and provide the Output:
`shasum /Applications/Unity/Hub/Editor/2019.3.14f1/Unity/Unity.app/Contents/MacOS/Unity`
Should Output:
`cea4972a61eda7b5dd4624924893f7286f3664ea  /Applications/Unity/Hub/Editor/2019.3.14f1/Unity/Unity.app/Contents/MacOS/Unity`

`ls -la /Applications/Unity/Hub/Editor/2019.3.14f1/Unity.app/Contents/MacOS`
Should Output som

[2020-06-07 10:54] maximilianmaihoefner commented on #42
Alternatively you could also try what I described here: https://github.com/aevitas/unity-patch/issues/39#issuecomment-636181118
And see if that works out for you.

[2020-06-07 11:57] Steevvveen commented on #43
Thank you for solving it!  And sorry! I installed the new Version of Unity and instantly tried the patch - so I thought that counts as a "new install of Unity".

[2020-06-07 12:01] #43 closed

[2020-06-07 12:56] chbin12 commented on #42
@maximilianmaihoefner
Thanks for your reply.

% shasum /Applications/Unity/Hub/Editor/2019.3.14f1/Unity.app/Contents/MacOS/Unity
505edc2edc9646d53b5c803f33cbd684cdcbdc5d /Applications/Unity/Hub/Editor/2019.3.14f1/Unity.app/Contents/MacOS/Unity@MacBook-Pro ~ % ls -all /Applications/Unity/Hub/Editor/2019.3.14f1/Unity.app/Contents/MacOS/Unity
-rwxrwxrwx 1 xxxxx xxxxx 165417840 5 30 16:17 /Application

[2020-06-07 15:14] maximilianmaihoefner commented on #42
@chbin12 This is so confusing... Why do you also get a different Unity Executable?! Would you mind answering some more questions, so I might be able to figure this out? Do you also have your Unity Hub language set to Traditional Chinese? Did you install Unity via Hub or via a different method? Is there anything special you did when installing Unity or anything when installing something Unity relat

[2020-06-07 20:49] Line-r commented on #42
Also getting the same error on a fresh install, (2019.3.15f1, Linux)

Edit: Tested on 2018 LTS too, same issue.

[2020-06-08 03:17] chbin12 commented on #42
I install unity var Hub from  https://unity.cn which is unity's chinese website.

[2020-06-08 15:54] maximilianmaihoefner commented on #42
@Line-r The Linux support is currently only available in the master, there is no release including the changes just yet. You will either have to wait for @aevitas to create a new release or checkout the Repo and compile it yourself.

@chbin12 Apparently the Unity Team is releasing different executables to the Chinese Market. I can't use my unity.com Account to Login to the Chinese Site and can the

[2020-06-17 09:54] #18 closed

[2020-07-03 08:59] jacolee17 opened #45 "Dark theme broke after Unity Hub updated"
I am using Unity 2019.3.8f1. My updated this morning, then Unity's dark theme jumped back to light theme in the afternoon. I tried to repeat the hex work but i can't find the hex code anymore, which is 84 D5 00 00 00 8B 03. I think Unity Hub's update changed something.

Do you guys meet with the same situation?

[2020-07-04 12:40] maximilianmaihoefner commented on #45
I once had a similar issue. Cleaning up the EditorPrefs helped in my case. See: https://docs.unity3d.com/ScriptReference/EditorPrefs.html where they are stored. I haven't had much time recently to work on Games, so I haven't used Unity in a while. Just opening it now after the Hub update and it was still Dark, but it might take a while as you mentioned. I will let you know if I run into the same i

[2020-07-06 21:08] #33 closed

[2020-07-12 09:05] ShaneEverittM opened #46 "Could not find theme offset in specified executable."
**Description**
Fails to find the theme offset.

**Version Information**
I am using Unity 2019.4.3f1 Personal on KDE Neon.

**Diagnostics**
"Could not find the theme offset in the specified executable!"

**Arguments**
Please provide the exact command line arguments you are using the patcher with, e.g.:

`sudo ./Patcher -e=/home/shane/Applications/UnityHub_00000000000000000000000000000000.AppImage

[2020-07-12 09:07] ShaneEverittM commented on #46
I also tried it on the AppImage freshly downloaded before "integrating it".

[2020-07-12 09:59] ShaneEverittM commented on #46
Nevermind I'm big fool, an AppImage is not the executable. This is what I get for debugging late at night. If anyone stumbles across this, the path to the executable you want should be /home/user/Unity/Hub/Editor/Version/Unity

[2020-07-12 09:59] #46 closed

[2020-07-13 11:35] isole opened #47 "Unable to patch Unity 2019.4.3f1 LTS"
**Description**
Tried to patch Unity 2019.4.3f1 LTS on Ubuntu 20.04 using the binary patcher 2.1 with the following command:

 ./Patcher -e=/opt/Unity/Hub/Editor/2019.4.3f1/Editor/Unity --t=dark --linux -v=2019.4
Applying Patch for 2019.4
Opening Unity executable from /opt/Unity/Hub/Editor/2019.4.3f1/Editor/Unity...
Creating backup...
Backup 'Unity.bak' created.
Searching for theme offset...
Patch

[2020-07-13 12:12] isole commented on #47
Never mind, re-installed 2019.4.3f1, re-applied the patch and works fine. Sorry for the noise.

[2020-07-13 12:12] #47 closed

[2020-07-13 12:59] aevitas commented on #47
No problem at all - glad you could get it to work!

[2020-07-14 23:03] Dvrkstvr commented on #42
I got the same issue. Clean install of Unity 2020.1.0b16 and UnityHub 2.3.2

O:\Desktop\win-x64>Patcher.exe --e=O:\Documents\Unity\Editors\2020.1.0b16\Editor\Unity.exe --t=dark --v=2020.1
Applying Patch for 2020.1
Opening Unity executable from O:\Documents\Unity\Editors\2020.1.0b16\Editor\Unity.exe...
Creating backup...
Backup 'Unity.exe.bak' created.
Searching for theme offset...
Error: Could not

[2020-07-22 02:06] unicolai42 opened #50 "sudo: ./Patcher: command not found"
Hey, I try to use it but I don't understand how to launch it.

Where is the ./Patcher executable ?

I also try with sudo ./osx-64/Patcher but soesn't work too

[2020-07-23 15:36] nsuprateek opened #51 "Marked as Read-Only"
This is the command I'm running
`sudo ./Patcher -e=/home/user/Unity/Hub/Editor/2019.4.4f1/Editor/Unity --version=2019.4 --t=dark --linux`
on linux, clearly.
I've already ran `chmod +rw Unity/Hub/Editor/2019.4.4f1/Editor/Unity` but I'm still getting this message:
Applying Patch for 2019.4
Opening Unity executable from /home/user/Unity/Hub/Editor/2019.4.4f1/Editor/Unity...
Can not patch the specifie

[2020-07-23 16:25] aevitas commented on #50
The `Patcher` executable is in the `osx-64` folder if you're running on Mac. Assuming you unpack the patcher to your home directory, it would be `~/osx-64/Patcher`.

Have you tried the sections from the readme that outline troubleshooting? You may need to chmod your Patcher and Unity executables before using them.

[2020-07-23 16:26] aevitas commented on #51
Are you sure you have permissions to write to the Unity executable? This seems like the filesystem is preventing you from writing to the Unity binary.

[2020-07-23 17:28] nsuprateek commented on #51
Fixed, seems as though since I hadn't done `sudo chmod` it gave the permission to me and not root.

[2020-07-23 17:28] #51 closed

[2020-07-23 20:34] aevitas commented on #51
Good to hear you solved it! I've had that exact same thing happen to me more than I can count. :)

[2020-07-23 21:50] joanroig opened #52 "Not working for MacOS 2020.1.0f1"
**Description**
The editor stays in light mode after running the indicated command.
The command seems to work, as the binary file has the line pattern from  {0x74, 0x5E, 0x8B, 0x03, 0xEB}  to {0x75, 0x5E, 0x8B, 0x03, 0xEB} which should enable the dark mode.

**Version Information**
MacOS Catalina 10.15.6
Unity 2020.1.0f1

**Diagnostics**
The patcher seems to patch the file properly, but there is n

[2020-07-23 22:07] Allstreamer opened #53 "Full Release 2020.1 Can't Be Patched"
**Version Information**
Windows 10
Newest Full Release 2020.1

**Diagnostics**
It Made A Backup But Said Version Could Not Be Patched

**Arguments**
`Patcher --exe=Unity.exe`

**Binaries**
Newest Full Release 2020.1

[2020-07-24 11:08] junwatu commented on #42
I have the same issue with @Dvrkstvr

Unity 2020.1.0f1
Unity Hub 2.4.0-beta.2
Windows 10

[2020-07-28 13:09] maximilianmaihoefner commented on #52
@joanroig It works on my machine(tm). Have you tried reseting your EditorPrefs as described in the Troubleshooting section? That usually helps, let me know if it doesn't and I can try to figure out what might be going wrong.

[2020-07-29 14:54] #52 closed

[2020-07-29 14:55] joanroig commented on #52
This solved the issue, thanks

[2020-07-29 16:05] aevitas commented on #53
Is this a fresh install or an older one? Due to the patching method used, changing settings may cause the patch to fail.

[2020-07-31 15:34] Mirkobil commented on #53
macos unity 2020.1.0f1 can't be patched

[2020-08-01 14:19] maximilianmaihoefner commented on #53
@Mirkobil Can you check if the solution described here: https://github.com/aevitas/unity-patch/issues/52#issuecomment-665029487 works for you as well?

[2020-08-01 14:44] Mirkobil commented on #53
changing hex from 745E8B03EB to 755E8B03EB did the trick

[2020-08-03 11:38] maximilianmaihoefner commented on #53
@Mirkobil But thats exactly what the patcher is doing, replacing the light hex (e.g. 0x745E8B03EB) with the dark hex (e.g. 0x 755E8B03EB)... So I don't quite understand, did Patcher report that it couldn't find the Hex-Values? Did you manually replace the Hex-Values? What was the Command you used to run the Patcher?

[2020-08-03 16:14] intellichicken commented on #53
Hello There!
Windows user here, Patcher has worked for all other versions of unity except for 2020.1. I tried resetting editorprefs, but that did nothing. I also tried changing the hex values directly with HxD but it told me the values didn't exist. Here's the error:
Error: Could not find the theme offset in the specified executable!
Thanks!

[2020-08-04 19:08] Technoguyfication commented on #53
Can confirm on Unity 2020.1.0f1

[2020-08-04 19:15] Technoguyfication commented on #53
The bytes for 2020.1.0f1 can be found here: https://github.com/Gluschenko/UnityDarkSkin/commit/629209b0c23837a680a68cc9cce85dfb57ec5345

[2020-08-12 23:25] ONLYDOWNDOGS opened #54 "Won't patch for linux on 2019.4.8f1"
**Description**
I have successfully patched all other versions of 2019 LTS previously, but on the new release of 2019.4.8f1 I get the error message "Could not find the theme offset in the specified executable!" after the terminal outputs "searching for theme offset"

**Version Information**
Running on Kubuntu 20.04
Unity version 2019.4.8f1

**Diagnostics**
Could not find the theme offset in the sp

[2020-08-13 08:18] twisttaan opened #55 "Dark mode is now free for all users in all new releases"
https://unity3d.com/unity/whats-new/2020.1.2

[2020-08-13 08:25] aevitas commented on #55
That's fantastic news! The patcher was only ever introduced as a means to an end to allow users to use a feature that should be freely available.

[2021-05-03 11:53] #53 closed

[2021-11-02 09:28] #50 closed